name: Render Quarto HTML

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        # with:
          # To install LaTeX to build PDF book
          # tinytex: true
          # uncomment below and fill to pin a version
          # version: 0.9.600

      # add software dependencies here
      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Set up R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            any::tidyverse 
            any::DT
            any::ggraph
            any::igraph
            any::quarto

      - name: Render Quarto file
        run: |
          quarto render UKRN-ORP-2025.qmd --to html
        
      - name: Commit results
        run: |
          if git diff --quiet; then
            echo "No changes to commit"
          else
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"
            git add UKRN-ORP-2025.html
            git commit -m "Auto-render UKRN-ORP-2025.qmd"
            git push
          fi

