# on:
#   push:
#     branches: master
    
#configure manual trigger
on:
  workflow_dispatch:

name: Render and Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        # with:
          # To install LaTeX to build PDF book
          # tinytex: true
          # uncomment below and fill to pin a version
          # version: 0.9.600

      # add software dependencies here
      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Set up R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            any::tidyverse 
            any::DT
            any::ggraph
            any::igraph
            any::quarto

      - name: Render script
        run: Rscript -e 'quarto::quarto_render("UKRN-ORP-2025.qmd")'
        
      - name: Commit results
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add UKRN-ORP-2025.html
          git commit -m 'html updated' || echo "No changes to commit"
          git push origin || echo "No changes to commit"
